body {
  font-family: sans-serif;
  background-color: #5dcfe3;
}
.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.btn-wrapper{
  display: flex;
  flex-wrap: wrap;
}
button {
  padding: 0.5em 1rem;
  font-size: 1rem;
  margin: 0.4em;
  background-color: #0530f2;
  color: #5dcfe3;
  box-shadow: 5px 5px 5px #0530f2;
  border-radius: 0.3rem;
  border-color: #5dcfe3;
}
button:disabled {
  opacity: 0.5;   
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0rem;
}

.result {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #000;
}

.result-lose {
  color: red
}

.result-win {
  color: green;
}

.result-tie {
  color: blue;
}

.reset-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
